// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1,h2 {
  padding: 20px;
  margin-top: 10px;
}

table {
  margin-left: 30px;
  margin-bottom: 20px;
}

th,td {
  padding: 5px 10px 5px;
}

.form {
  margin-left: 20px;
  margin-bottom: 20px;
}

h4 {
  padding-top: 10px;
}

.show-h4 {
  padding: 20px 0 0 40px;
}

.link {
  padding: 20px;
}